<!-- INICIO -->
<!-- FORMULARIO ANAMNESIS -->



<div style="padding: 20px;">

    <div class="row">
        <div class="col">
            <label for="txt-motivo-consulta" class="label-formulario-user">Tipo consulta</label>
            <input name="txt-motivo-consulta" rows="5" class="form-control" value="{{infoHistoriaClinica.tipo_consulta}}" readonly />
        </div>
        <div class="col"></div>
    </div>

    <br>

    <div class="row">
        <div class="col">

            <div class="form-group">
                <label for="txt-motivo-consulta" class="label-formulario-user">Motivo de la consulta</label>
                <textarea name="txt-motivo-consulta" rows="5" class="form-control" value="{{infoHistoriaClinica.motiv_oconsulta}}" readonly></textarea>
            </div>

        </div>
        <div class="col">

            <div class="form-group">
                <label for="txt-motivo-consulta" class="label-formulario-user">Antecedentes</label>
                <textarea name="txt-motivo-consulta" rows="5" class="form-control" value="{{infoHistoriaClinica.enfermedades_preex}}" readonly></textarea>
            </div>

        </div>
    </div>

</div>

<hr class="my-4">


<!-- FORMULARIO OPTOMETRIA -->


<div style="padding: 20px;">


    <!-- INICIO FORM OPTOMETRIA -->

    <div class="row">

        <!-- prescripcion en uso -->
        <div class="col">

            <div class="card">
                <div class="card-header">Prescripcion en uso</div>
                <div class="card-body">

                    <div class="row">

                        <div class="col">


                            <label for="" class="label-formulario-user">Lensometria</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OD</div>
                                </div>
                                <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.lensometriaOd}}" readonly>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OI</div>
                                </div>
                                <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.lensometriaOi}}" readonly>
                            </div>


                        </div>


                        <div class="col">
                            <label for="" class="label-formulario-user">Agudeza visual</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OD</div>
                                </div>
                                <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.agudeazaVisualOd}}" readonly>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OI</div>
                                </div>
                                <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.agudeazaVisualOi}}" readonly>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>


        <!-- agudeza visual sin correcion -->
        <div class="col">

            <div class="card">
                <div class="card-header">Agudeza visual (sin correción)</div>
                <div class="card-body">

                    <div class="row">

                        <div class="col">
                            <label for="" class="label-formulario-user">Visión lejana</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OD</div>
                                </div>
                                <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.visionLejanaOd}}" readonly>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OI</div>
                                </div>
                                <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.visionLejanaOi}}" readonly>
                            </div>
                        </div>


                        <div class="col">
                            <label for="" class="label-formulario-user">Visión cercana</label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OD</div>
                                </div>
                                <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.visionCercanaOd}}" readonly>
                            </div>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OI</div>
                                </div>
                                <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.visionCercanaOi}}" readonly>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div>

    </div>

    <!-- ----------------------------------------------------------------- -->

    <div class="row" style="padding-top: 20px;">
        <div class="col" style="padding-bottom: 20px;">

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <label for="" class="label-formulario-user">Adicion</label>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <input type="text" class="form-control" value="{{infoHistoriaClinica.histoptica.adicion}}" readonly>
                </div>
            </div>

        </div>

        <div class="col" style="padding-bottom: 20px;">

            <div class="card">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <label for="" class="label-formulario-user">Tipo de lente</label>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div class="form-group">

                        <input type="text" class="form-control" value="{{infoHistoriaClinica.histoptica.tipoLente}}" readonly>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <!-- ----------------------------------------------------------------- -->

    <div class="row">

        <div class="col">



            <div class="row">
                <!-- EXAMEN EXTERNO -->
                <div class="col">
                    <div class="card">
                        <div class="card-header">Exámen externo</div>


                        <div class="card-body">

                            <div class="input-group">
                                <!-- <div class="input-group-prepend">
                                              <div class="input-group-text etiqueta">OD</div>
                                          </div> -->
                                <!-- <input type="text" class="form-control" placeholder="OD" formControlName="examenExternoOd"> -->
                                <label for="" class="label-formulario-user">Ojo derecho</label>
                                <textarea name="" id="" rows="3" value="{{infoHistoriaClinica.histoptica.examenExternoOd}}" readonly></textarea>

                            </div>

                            <div class="input-group" style="padding-top: 20px;">

                                <label for="" class="label-formulario-user">Ojo izquierdo</label>
                                <br>
                                <textarea name="" id="" rows="3" value="{{infoHistoriaClinica.histoptica.examenExternoOi}}" readonly></textarea>
                                <!-- <input type="text" class="form-control" placeholder="OI" formControlName="examenExternoOi"> -->
                            </div>
                        </div>



                        <!-- <div class="card-body">

                                      <div class="input-group">
                                          <div class="input-group-prepend">
                                              <div class="input-group-text etiqueta">OD</div>
                                          </div>
                                          <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.examenExternoOd}}" readonly>
                                        </div>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text etiqueta">OI</div>
                                            </div>
                                            <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.examenExternoOi}}" readonly>
                                        </div>
                                  </div> -->

                    </div>
                </div>

                <!-- OFTALMOLOGIA -->
                <div class="col">
                    <div class="card">
                        <div class="card-header">Oftalmologia</div>

                        <div class="card-body">

                            <div class="input-group">
                                <!-- <div class="input-group-prepend">
                                                <div class="input-group-text etiqueta">OD</div>
                                            </div> -->
                                <!-- <input type="text" class="form-control" placeholder="OD" formControlName="examenExternoOd"> -->
                                <label for="" class="label-formulario-user">Ojo derecho</label>
                                <textarea name="" id="" rows="3" value="{{infoHistoriaClinica.histoptica.oftalmologiaOd}}" readonly></textarea>
                            </div>

                            <div class="input-group" style="padding-top: 20px;">

                                <label for="" class="label-formulario-user">Ojo izquierdo</label>
                                <br>
                                <textarea name="" id="" rows="3" value="{{infoHistoriaClinica.histoptica.oftalmologiaOi}}" readonly></textarea>
                                <!-- <input type="text" class="form-control" placeholder="OI" formControlName="examenExternoOi"> -->
                            </div>
                        </div>

                        <!-- <div class="card-body">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text etiqueta">OD</div>
                                            </div>
                                            <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.oftalmologiaOd}}" readonly>
                                          </div>

                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <div class="input-group-text etiqueta">OI</div>
                                              </div>
                                              <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.oftalmologiaOi}}" readonly>
                                          </div>
                                    </div> -->


                    </div>
                </div>

            </div>
        </div>




        <div class="col">

            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-header">Exámen motor</div>

                        <div class="card-body">

                            <div class="input-group">
                                <!-- <div class="input-group-prepend">
                                                  <div class="input-group-text etiqueta">OD</div>
                                              </div> -->
                                <!-- <input type="text" class="form-control" placeholder="OD" formControlName="examenExternoOd"> -->
                                <label for="" class="label-formulario-user">Ojo derecho</label>
                                <textarea name="" id="" rows="3" value="{{infoHistoriaClinica.histoptica.examenMotorOd}}" readonly></textarea>
                            </div>

                            <div class="input-group" style="padding-top: 20px;">

                                <label for="" class="label-formulario-user">Ojo izquierdo</label>
                                <br>
                                <textarea name="" id="" rows="3" value="{{infoHistoriaClinica.histoptica.examenMotorOi}}" readonly></textarea>
                                <!-- <input type="text" class="form-control" placeholder="OI" formControlName="examenExternoOi"> -->
                            </div>
                        </div>


                        <!-- <div class="card-body">
                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <div class="input-group-text etiqueta">OD</div>
                                              </div>
                                              <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.examenMotorOd}}" readonly>
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text etiqueta">OI</div>
                                                </div>
                                                <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.examenMotorOi}}" readonly>
                                            </div>
                                      </div> -->


                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-header">Queratometría</div>


                        <div class="card-body">

                            <div class="input-group">
                                <!-- <div class="input-group-prepend">
                                                  <div class="input-group-text etiqueta">OD</div>
                                              </div> -->
                                <!-- <input type="text" class="form-control" placeholder="OD" formControlName="examenExternoOd"> -->
                                <label for="" class="label-formulario-user">Ojo derecho</label>
                                <textarea name="" id="" rows="3" value="{{infoHistoriaClinica.histoptica.queratometriaOd}}" readonly></textarea>
                            </div>

                            <div class="input-group" style="padding-top: 20px;">

                                <label for="" class="label-formulario-user">Ojo izquierdo</label>
                                <br>
                                <textarea name="" id="" rows="3" value="{{infoHistoriaClinica.histoptica.queratometriaOi}}" readonly></textarea>
                                <!-- <input type="text" class="form-control" placeholder="OI" formControlName="examenExternoOi"> -->
                            </div>
                        </div>


                        <!-- <div class="card-body">

                                          <div class="input-group">
                                              <div class="input-group-prepend">
                                                  <div class="input-group-text etiqueta">OD</div>
                                              </div>
                                              <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.queratometriaOd}}"  readonly>
                                            </div>

                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <div class="input-group-text etiqueta">OI</div>
                                                </div>
                                                <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.queratometriaOi}}" readonly>
                                            </div>
                                      </div> -->
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- ------------------------------ REFRACCION ----------------------------------- -->

    <div style="padding-top: 20px;">


        <div class="row">

            <div class="col">

                <div class="card">
                    <div class="card-header">Refracción</div>
                    <div class="card-body">


                        <!-- OJO DERECHO -->
                        <div class="row">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OD</div>
                                </div>
                                <input class="form-control" value="{{infoHistoriaClinica.histoptica.refraccionOd}}" readonly>
                            </div>
                        </div>

                        <br>
                        <!-- OJO IZQUIERDO -->


                        <div class="row">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OI</div>
                                </div>
                                <input class="form-control" value="{{infoHistoriaClinica.histoptica.refraccionOi}}" readonly>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ------------------------------ Fórmula final ----------------------------------- -->
            <div class="col">

                <div class="card">
                    <div class="card-header">Fórmula final</div>
                    <div class="card-body">


                        <!-- OJO DERECHO -->
                        <div class="row">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OD</div>
                                </div>
                                <input class="form-control" value="{{infoHistoriaClinica.histoptica.formulaFinalOd}}" readonly>
                            </div>
                        </div>
                        <br>

                        <!-- OJO IZQUIERDO -->


                        <div class="row">


                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text etiqueta">OI</div>
                                </div>
                                <input class="form-control" value="{{infoHistoriaClinica.histoptica.formulaFinalOi}}" readonly>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>

    </div>








    <!-- ---------------------------- OTROS DATOS------------------------------------- -->
    <div class="row" style="padding-top: 20px;">

        <!-- AV VL -->
        <div class="col">
            <div class="card">
                <div class="card-header">AV VL</div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text etiqueta">OD</div>
                        </div>
                        <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.avvlOd}}" readonly>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text etiqueta">OI</div>
                        </div>
                        <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.avvlOi}}" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- AV VP -->
        <div class="col">
            <div class="card">
                <div class="card-header">AV VP</div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text etiqueta">OD</div>
                        </div>
                        <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.avvpOd}}" readonly>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text etiqueta">OI</div>
                        </div>
                        <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.avvpOi}}" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- ADICION -->
        <div class="col">
            <div class="card">
                <div class="card-header">ADICION</div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text etiqueta">OD</div>
                        </div>
                        <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.adicionOd}}" readonly>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text etiqueta">OI</div>
                        </div>
                        <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.adicionOi}}" readonly>
                    </div>
                </div>
            </div>
        </div>

        <!-- DNP -->
        <div class="col">
            <div class="card">
                <div class="card-header">DNP</div>
                <div class="card-body">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text etiqueta">OD</div>
                        </div>
                        <input type="text" class="form-control" placeholder="OD" value="{{infoHistoriaClinica.histoptica.dnpOd}}" readonly>
                    </div>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text etiqueta">OI</div>
                        </div>
                        <input type="text" class="form-control" placeholder="OI" value="{{infoHistoriaClinica.histoptica.dnpOi}}" readonly>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- FIN DEL FORM OPTOMETRIA -->


</div>

<hr class="my-4">

<!-- FORMULARIO 2 OPTOMETRIA -->


<div class="row">
    <div class="col form-group">
        <label for="" class="label-formulario-user">Diagnostico inicial</label>
        <textarea name="" id="" rows="3" class="form-control" value="{{infoHistoriaClinica.histoptica.diagnosticoInical}}" readonly></textarea>
    </div>

    <div class="col form-group">
        <label for="" class="label-formulario-user">RIPS</label>
        <textarea name="" id="" rows="3" class="form-control" value="{{infoHistoriaClinica.histoptica.rips}}" readonly></textarea>
    </div>
</div>


<div class="row">

    <div class="col">
        <div class="form-group">
            <label for="" class="label-formulario-user">Test de ishihara</label>
            <input type="text" class="form-control" value="{{infoHistoriaClinica.histoptica.testIshihara}}" readonly>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="" class="label-formulario-user">Test de estereópsis</label>
            <input type="text" class="form-control" value="{{infoHistoriaClinica.histoptica.testEstereopsis}}" readonly>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="" class="label-formulario-user">Conducta</label>
            <textarea name="" id="" rows="3" class="form-control" value="{{infoHistoriaClinica.histoptica.conducta}}" readonly></textarea>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="" class="label-formulario-user">Medicamentos</label>
            <textarea name="" id="" rows="3" class="form-control" value="{{infoHistoriaClinica.histoptica.medicamentos}}" readonly></textarea>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="form-group">
            <label for="" class="label-formulario-user">Remision</label>
            <textarea name="" id="" rows="3" class="form-control" value="{{infoHistoriaClinica.histoptica.remision}}" readonly></textarea>
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="" class="label-formulario-user">Observaciones</label>
            <textarea name="" id="" rows="3" class="form-control" value="{{infoHistoriaClinica.histoptica.observaciones}}" readonly></textarea>
        </div>
    </div>
</div>

<!-- FIN -->