<!--Tipo Consulta-->


<div class="row divisiones">
    <div class="col-md-6 form-group">
        <label class="form-label">Tipo consulta</label>
        <input name="txt-motivo-consulta" rows="5" class="form-control" value="{{infoHistoriaGeneral.tipo_consulta}}" readonly />
    </div>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txt-motivo-consulta" class="form-label label-formulario-user">Motivo de la Consulta</label>
                    <textarea name="txt-motivo-consulta" rows="5" class="form-control" readonly>{{infoHistoriaGeneral.motiv_oconsulta}}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txt-enfermedadActual" class="form-label label-formulario-user">Enfermedad
Preexistente</label>
                    <textarea name="txt-enfermedadActual" rows="3" class="form-control" readonly>{{infoHistoriaGeneral.enfermedades_preex}}</textarea>
                </div>
            </div>
        </div>
    </div>

</div>



<!-- Fin Tipo Consulta-->

<!--Antecedentes Familiares-->
<div class="row divisiones">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <label for="txt-antecedentesF" class="tituloDivision">Antecedentes Familiares</label>
                <div class="row">
                    <div class="col-lg-12">
                        <ul>
                            <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.antecedentef.asma == 1)">Asma</li>
                            <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.antecedentef.cancer == 1)">Cancer</li>
                            <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.antecedentef.cardiopatias == 1)">Cardiopatias</li>
                            <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.antecedentef.diabetes == 1)">Diabetes</li>
                            <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.antecedentef.efisema == 1)">Efisema</li>
                            <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.antecedentef.enfermadad_psiquiatrica == 1)">Enfermadad Psiquiatrica</li>
                            <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.antecedentef.epilepcia == 1)">Epilepcia</li>
                            <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.antecedentef.hipertension == 1)">Hipertension</li>
                            <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.antecedentef.otro == 1)">Otro</li>
                        </ul>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!-- Fin Antecedentes Familiares-->

<!--Antecedentes Personales-->

<div class="row divisiones">
    <div class="col-md-12">
        <label for="txt-antecedentesP" class="tituloDivision">Antecedentes Personales</label>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txt-patologicos" class="form-label label-formulario-user">Patológicos</label>
                    <textarea name="txtPatologicos" rows="3" class="form-control" readonly>{{infoHistoriaGeneral.antecedentesp.patologias}}</textarea>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txt-quirurgicos" class="form-label label-formulario-user">Quirúrgicos</label>
                    <textarea name="txtQuirurgicos" rows="3" class="form-control" readonly>{{infoHistoriaGeneral.antecedentesp.quirurgicos}}</textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txt-traumaticos" class="form-label label-formulario-user">Traumáticos</label>
                    <textarea name="txtTraumaticos" rows="3" class="form-control" readonly>{{infoHistoriaGeneral.antecedentesp.traumaticos}}</textarea>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Fin Antecedentes Personales-->

<!--Inicio Gineco-opstetra-->
<div class="row divisiones">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 ">
                <label for="" class="tituloDivision">Gineco - Obstetra</label>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Menarquía</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.antecedentesp.gine_menarquia}}" readonly>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Gravidez</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.antecedentesp.gine_gravidez}}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Partos</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.antecedentesp.gine_partos}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Abortos</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.antecedentesp.gine_abortos}}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Hijos Vivos</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.antecedentesp.gine_hijosvivos}}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Planficación</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.antecedentesp.gine_planificacion}}" readonly>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txt-otroHabitoRiesgo" class="form-label label-formulario-user">Toxico Alergicos</label>
                        <textarea name="txt-otroHabitoRiesgo" rows="3" class="form-control" value="{{infoHistoriaGeneral.antecedentesp.toxicos_alergicos}}" readonly></textarea>
                    </div>
                </div>

            </div>


        </div>


    </div>




</div>
<!--Fin Gineco-opstetra-->

<!--Inicio habitos y factores de riesgo-->
<div class="row divisiones">

    <div class="col-md-12">
        <label for="" class="tituloDivision">Habitos y factores de riesgo</label>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.habitosyfactores.alcohol)">Alcohol:{{infoHistoriaGeneral.habitosyfactores.alcohol}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.habitosyfactores.cigarrillo)">Cigarrillo :{{infoHistoriaGeneral.habitosyfactores.cigarrillo}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.habitosyfactores.ejercicio)">Ejercicio: {{infoHistoriaGeneral.habitosyfactores.ejercicio}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.habitosyfactores.estres)">Estres: {{infoHistoriaGeneral.habitosyfactores.estres}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.habitosyfactores.humo)">Humo: {{infoHistoriaGeneral.habitosyfactores.humo}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.habitosyfactores.otros)">Otros: {{infoHistoriaGeneral.habitosyfactores.otros}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.habitosyfactores.polvo)">Polvo: {{infoHistoriaGeneral.habitosyfactores.polvo}}</li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!--Fin habitos y factores de riesgo-->

<!--Revisión por sistema-->
<div class="row divisiones">

    <div class="col-md-12">
        <label for="" class="tituloDivision">Revisión por sistema</label>
        <div class="row">
            <div class="col-lg-12">
                <ul>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.revisionps.card_resp_desc)">Cardio-Respiratorio:{{infoHistoriaGeneral.revisionps.card_resp_desc}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.revisionps.endocrino_desc)">Endocrino: {{infoHistoriaGeneral.revisionps.endocrino_desc}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.revisionps.gastro_int_desc)">Gastro Intestinal: {{infoHistoriaGeneral.revisionps.gastro_int_desc}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.revisionps.genito_uri_desc)">Genito-Urinario: {{infoHistoriaGeneral.revisionps.genito_uri_desc}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.revisionps.neurologico_dec)">Neurológico: {{infoHistoriaGeneral.revisionps.neurologico_dec}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.revisionps.osteomuscular_desc)">Osteomuscular: {{infoHistoriaGeneral.revisionps.osteomuscular_desc}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.revisionps.pielyfan_desc)">Piel y Faneras: {{infoHistoriaGeneral.revisionps.pielyfan_desc}}</li>
                    <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.revisionps.vasc_desc)">Vascular: {{infoHistoriaGeneral.revisionps.vasc_desc}}</li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!--Fin Revisión por sistema-->

<!--Inicio examen fisico-->

<!-- ---------------------------------------------- EXAMEN FISICO ------------------------------------------------------ -->
<div class="divisiones">



    <div class="row">
        <label for="" class="tituloDivision">Examen Físico</label>


        <div class="col-md-12">
            <label for="" class="form-label label-formulario-user">Apariencia General</label>
            <textarea name="txt-AparienciaGeneral" rows="3" class="form-control" value="{{infoHistoriaGeneral.examenf.apariencia_g}}" readonly></textarea>
        </div>


        <div class="row" style="padding: 30px;">
            <div class="row">

                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Frecuencia cardiaca</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.examenf.frecuencia_cardiaca}}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Temperatura (Si es pertinente)</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.examenf.temperatura}}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Frecuencia Respiratoria</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.examenf.frecuencia_resp}}" readonly>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Talla(cm)</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.examenf.talla}}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Presión Arterial</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.examenf.presion_art}}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="" class="form-label label-formulario-user">Peso (kg)</label>
                        <input type="text" class="form-control" value="{{infoHistoriaGeneral.examenf.peso}}" readonly>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <ul>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.cabeza_desc)">Cabeza: {{infoHistoriaGeneral.examenf.cabeza_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.ojos_desc)">Ojos: {{infoHistoriaGeneral.examenf.ojos_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.oidos_desc)">Oidos: {{infoHistoriaGeneral.examenf.oidos_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.nariz_desc)">Nariz: {{infoHistoriaGeneral.examenf.nariz_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.boca_desc)">Boca: {{infoHistoriaGeneral.examenf.boca_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.cuello_desc)">Cuello: {{infoHistoriaGeneral.examenf.cuello_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.torax_ma_desc)">Tórax Mama: {{infoHistoriaGeneral.examenf.torax_ma_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.pulmones_desc)">Pulmones: {{infoHistoriaGeneral.examenf.pulmones_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.corazon_desc)">Corazón: {{infoHistoriaGeneral.examenf.corazon_desc}}</li>

                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.abdomen_desc)">Abdomen: {{infoHistoriaGeneral.examenf.abdomen_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.genitourinario_desc)">GenitoUrinario: {{infoHistoriaGeneral.examenf.genitourinario_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.columna_desc)">Columna: {{infoHistoriaGeneral.examenf.columna_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.extremidades_desc)">Extremidades: {{infoHistoriaGeneral.examenf.extremidades_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.neurologico_desc)">Neurológico: {{infoHistoriaGeneral.examenf.neurologico_desc}}</li>
                <li *ngIf="infoHistoriaGeneral && (infoHistoriaGeneral.examenf.pielyfane_desc)">Piel y Faneras: {{infoHistoriaGeneral.examenf.pielyfane_desc}}</li>
            </ul>
        </div>
    </div>

</div>


<!--Fin examen fisico-->

<!--Impresión Diagnostica-->


<div class="row divisiones">

    <div class="col-md-12">
        <label for="" class="tituloDivision">Impresión Diagnostica</label>
        <br>
        <ul>
            <li *ngFor="let i of infoHistoriaGeneral.impresiondiag" value="{{i.nombre}}">{{i.nombre}}</li>

        </ul>
    </div>
</div>
<!--Fin Impresión Diagnostica -->