.alert {
    margin-top: 20px;
    margin-bottom: 0px;
}

.nuevoContenedor {
    padding: 2%;
}

#userImg[_ngcontent-c12] {
    border: 7px solid #04ad93 !important;
}

#menu_admin {
    max-height: 100%;
    background-color: aquamarine;
}


/* ////////////////////////////////// ADMINISTRADOR //////////////////////////////////////////////// */

.contenedor:hover .imagen {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.contenedor {
    overflow: hidden;
}