<div ng-app="myApp" ng-controller="miController">
    <div class="container-fluid">
        <!-- <app-diagnostico></app-diagnostico> -->

        <form *ngIf="vista==='consulta'" [formGroup]="datosHistGeneral">

            <div class="row divisiones">
                <div class="col-md-6 form-group">
                    <label class="form-label">Tipo consulta</label>
                    <select class="form-control" formControlName="tipoConsulta" [class.is-invalid]="datosHistGeneral.get('tipoConsulta').errors && datosHistGeneral.get('tipoConsulta').touched">
            <option value="Primera vez">Primera vez</option>
            <option value="Control">Control</option>
          </select>
                </div>

                <div *ngIf="datosHistGeneral.get('tipoConsulta').errors && datosHistGeneral.get('tipoConsulta').touched">
                    <p class="alerta-error" *ngIf="datosHistGeneral.get('tipoConsulta').hasError('required')">* El campo es requerido</p>
                </div>

                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txt-motivo-consulta" class="form-label label-formulario-user">Motivo de la Consulta</label>
                                <textarea name="txt-motivo-consulta" rows="5" formControlName="motivoConsulta" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="txt-enfermedadActual" class="form-label label-formulario-user">Enfermedad
                  Preexistente</label>
                                <textarea name="txt-enfermedadActual" rows="3" class="form-control" formControlName="enfermedadPreexistente"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-4"></div>
                        <div class="col-md-3"> <button class="btn btn-md btn-info" (click)="siguiente('consulta')" [disabled]="!this.datosHistGeneral.valid">Siguiente</button></div>
                        <div class="col-md-4"></div>

                    </div>
                </div>

            </div>


        </form>

        <!-- ---------------------------------------- ANTECEDENTES FAMILIARES --------------------------------------------------- -->

        <div *ngIf="vista==='familiares'" class="row divisiones" id="demo">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <label for="txt-antecedentesF" class="tituloDivision">Antecedentes Familiares</label>
                        <div class="row">
                            <div class="col-lg-12">

                                <mat-form-field class="w-100">
                                    <mat-select class="place" placeholder="Antecedentes Familiares" [formControl]="antecedentesFMultiCtrl" [multiple]="true" #multiSelect>
                                        <mat-option *ngFor="let AntecedenteF of filteredAntecedentesFMulti | async" [value]="AntecedenteF.id">
                                            {{AntecedenteF.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12">
                                <form [formGroup]="datosHistGeneral">
                                    <div class="form-group">
                                        <label for="txt-otroAntecedente" class="form-label label-formulario-user">Otros</label>
                                        <textarea rows="3" class="form-control" formControlName="otroAntecedentesFamiliares"></textarea>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3"></div>
                            <div class="col-md-3"> <button class="btn btn-md btn-secondary" (click)="anterior('familiares')">Anterior</button></div>
                            <div class="col-md-3"> <button class="btn btn-md btn-info" (click)="siguiente('familiares')">Siguiente</button></div>
                            <div class="col-md-3"></div>

                        </div>
                    </div>




                </div>
            </div>
        </div>


        <!-- ------------------------------------------ ANTECEDENTES PERSONALES  --------------------------------------------------------->

        <form *ngIf="vista==='personales'" [formGroup]="datosHistGeneral">

            <div class="row divisiones">
                <div class="col-md-12">
                    <label for="txt-antecedentesP" class="tituloDivision">Antecedentes Personales</label>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txt-patologicos" class="form-label label-formulario-user">Patológicos</label>
                                <textarea name="txtPatologicos" formControlName="patologicos" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txt-quirurgicos" class="form-label label-formulario-user">Quirúrgicos</label>
                                <textarea name="txtQuirurgicos" formControlName="quirurgicos" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="txt-traumaticos" class="form-label label-formulario-user">Traumáticos</label>
                                <textarea name="txtTraumaticos" formControlName="traumaticos" rows="3" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-3"></div>
                        <div class="col-md-3"> <button class="btn btn-md btn-secondary" (click)="anterior('personales')">Anterior</button></div>
                        <div class="col-md-3"> <button class="btn btn-md btn-info" (click)="siguiente('personales')">Siguiente</button></div>
                        <div class="col-md-3"></div>

                    </div>
                </div>



            </div>


        </form>

        <!-- ------------------------------------------ GINECO OBSTETRA ------------------------------------------------------------ -->

        <form [formGroup]="datosHistGeneral" *ngIf="vista==='gineco'">
            <div class="row divisiones">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 ">
                            <label for="" class="tituloDivision">Gineco - Obstetra</label>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Menarquía</label>
                                    <input type="text" class="form-control" formControlName="gine_menarquia">
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Gravidez</label>
                                    <input type="text" class="form-control" formControlName="gine_gravidez">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Partos</label>
                                    <input type="text" class="form-control" formControlName="gine_partos">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Abortos</label>
                                    <input type="text" class="form-control" formControlName="gine_abortos">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Hijos Vivos</label>
                                    <input type="text" class="form-control" formControlName="gine_hijosvivos">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Planficación</label>
                                    <input type="text" class="form-control" formControlName="gine_planificacion">
                                </div>
                            </div>

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="txt-otroHabitoRiesgo" class="form-label label-formulario-user">Toxico Alergicos</label>
                                    <textarea name="txt-otroHabitoRiesgo" rows="3" class="form-control" formControlName="toxicos_alergicos"></textarea>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="row">

                        <div class="col-md-3"></div>
                        <div class="col-md-3"> <button class="btn btn-md btn-secondary" (click)="anterior('gineco')">Anterior</button></div>
                        <div class="col-md-3"> <button class="btn btn-md btn-info" (click)="siguiente('gineco')">Siguiente</button>
                        </div>
                        <div class="col-md-3"></div>

                    </div>

                </div>




            </div>
        </form>



        <!-- ------------------------------------ HABITOS Y FACTORES DE RIESGO  ----------------------------------------------- -->

        <form [formGroup]="datosHistGeneral" *ngIf="vista==='habitos'">
            <div class="row divisiones">

                <label for="" class="tituloDivision">Habitos y factores de riesgo</label>
                <div class="col-md-12" *ngFor="let h of habitos; let i = index">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check">
                                <mat-checkbox (change)="checkHabitosFactores($event, h.nombre)">{{h.nombre}}
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="w-100" *ngIf="h.variable">
                                        <textarea matInput placeholder="Hallazgos" [formControlName]="h.formControl"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="txt-otroHabitoRiesgo" class="form-label label-formulario-user">Otros</label>
                        <textarea name="txt-otroHabitoRiesgo" rows="3" class="form-control" formControlName="otrosHabitos"></textarea>
                    </div>
                    <div class="row">

                        <div class="col-md-3"></div>
                        <div class="col-md-3"> <button class="btn btn-md btn-secondary" (click)="anterior('habitos')">Anterior</button></div>
                        <div class="col-md-3"> <button class="btn btn-md btn-info" (click)="siguiente('habitos')">Siguiente</button>
                        </div>
                        <div class="col-md-3"></div>

                    </div>
                </div>




            </div>
        </form>

        <!-- ----------------------------------- REVISION POR SISTEMAS  --------------------------------------------------->


        <form [formGroup]="datosHistGeneral" *ngIf="vista==='sistemas'">
            <div class="row divisiones">
                <label for="" class="tituloDivision">Revisión por Sistemas</label>
                <div class="col-md-12" *ngFor="let s of sistema; let i = index">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-check">
                                <mat-checkbox (change)="checkRevisionSistema($event, s.nombre)">{{s.nombre}}
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-12">
                                    <mat-form-field class="w-100" *ngIf="s.variable">
                                        <textarea matInput placeholder="Hallazgos" [formControlName]="s.formControl"></textarea>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-3"></div>
                <div class="col-md-3"> <button class="btn btn-md btn-secondary" (click)="anterior('sistemas')">Anterior</button>
                </div>
                <div class="col-md-3"> <button class="btn btn-md btn-info" (click)="siguiente('sistemas')">Siguiente</button>
                </div>
                <div class="col-md-3"></div>



            </div>

        </form>


        <!-- ---------------------------------------------- EXAMEN FISICO ------------------------------------------------------ -->
        <div *ngIf="vista==='fisico'" class="divisiones">

            <form [formGroup]="datosHistGeneral">

                <div class="row">
                    <label for="" class="tituloDivision">Examen Físico</label>


                    <div class="col-md-12">
                        <label for="" class="form-label label-formulario-user">Apariencia General</label>
                        <textarea name="txt-AparienciaGeneral" rows="3" class="form-control" formControlName="aparienciaGeneral"></textarea>
                    </div>


                    <div class="row" style="padding: 30px;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Frecuencia cardiaca</label>
                                    <input type="text" class="form-control" formControlName="frecuencia_cardica">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Temperatura (Si es pertinente)</label>
                                    <input type="text" class="form-control" formControlName="temperetura" type="number" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Frecuencia Respiratoria</label>
                                    <input type="text" class="form-control" formControlName="frecuencia_resp">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Talla(cm)</label>
                                    <input type="text" class="form-control" formControlName="talla" type="number">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Presión Arterial</label>
                                    <input type="text" class="form-control" formControlName="presion_art">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="" class="form-label label-formulario-user">Peso (kg)</label>
                                    <input type="text" class="form-control" formControlName="peso" type="number">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12" *ngFor="let e of examen; let i = index">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-check">
                                    <mat-checkbox (change)="checkExamenMedico($event, e.nombre)">{{e.nombre}}
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="row">
                                    <div class="col-md-12">
                                        <mat-form-field class="w-100" *ngIf="e.variable">
                                            <textarea matInput placeholder="Hallazgos" [formControlName]="e.formControl"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>


            </form>
            <div class="row">

                <div class="col-md-3"></div>
                <div class="col-md-3"> <button class="btn btn-md btn-secondary" (click)="anterior('fisico')">Anterior</button>
                </div>
                <div class="col-md-3"> <button class="btn btn-md btn-info" (click)="siguiente('fisico')">Siguiente</button>
                </div>
                <div class="col-md-3"></div>
            </div>


        </div>

        <!----------------------------------DIAGNOSTICOS------------------------------>

        <div *ngIf="vista==='diagnosticosPanel'" class="divisiones">
            <div class="form-group">
                <label>Seleccionar diagnóstico: </label>
                <input type="text" class="form-control" [(ngModel)]="buscar">
                <br>
                <div class="panel-body list-group">
                    <div class="seleccionado" *ngFor="let o of options | busqueda: buscar" (click)="guardarClick(o)" style="cursor: pointer;">
                        {{o.nombre}} {{o.rips}}
                    </div>
                </div>
            </div>
            <br>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="hidden">Id</th>
                        <th>Descripción</th>
                        <th>Código</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cd of cajaDiagnostico; let i = index">
                        <td class="hidden">{{cd.id_impresiondiag}}</td>
                        <td>{{cd.nombre}}</td>
                        <td>{{cd.rips}}</td>
                        <td><button (click)="borrarDiagnostico(i)" class="btn btn-danger">X</button></td>
                    </tr>
                </tbody>
            </table>

            <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status === 'success'">
                {{statusText}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status === 'error'">
                {{statusText}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>


            <div class="row">

              <div class="col-md-3"></div>
              <div class="col-md-3"> <button class="btn btn-md btn-secondary" (click)="anterior('diagnosticosPanel')">Anterior</button>
              </div>
              <div class="col-md-3"> <button class="btn btn-md btn-info" (click)="siguiente('diagnosticosPanel')">Siguiente</button>
              </div>
              <div class="col-md-3"></div>
          </div>

            <!-- <div class="row">


                <div class="col-md-2"></div>
                <div class="col-md-4"> <button class="btn btn-md btn-secondary" (click)="anterior('diagnosticosPanel')">Anterior</button></div>



                <div class="col-md-4"> <button class="btn btn-md btn-info" (click)="guardarHistoriaClinica()">Guardar historia
          clinica</button></div>
                <div class="col-md-2"></div>

            </div> -->



        </div>



        <!-- Button modal publicacion exitosa -->
        <button type="button" style="display: none;" id="btn-publicacion-exitosa" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="false">
    Launch demo modal
  </button>

        <!-- Modal publicacion exitosa -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
                        <button type="button" id="btn-cerrar-pub-exitosa" class="close" data-dismiss="modal" aria-label="Close" (click)="pubExitosa()">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        La publicación ha sido creada correctamente.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pubExitosa()">Aceptar</button>
                    </div>
                </div>
            </div>
        </div>


        <!----------------------------------FIN DIAGNOSTICOS------------------------------>


             <!----------------------------------MEDICAMENTOS------------------------------>

             <div *ngIf="vista==='medicamentosPanel'" class="divisiones">
              <div class="form-group">
                  <label>Seleccionar Medicamento: </label>
                  <input type="text" class="form-control" [(ngModel)]="buscarMedicamentos">
                  <br>
                  <div class="panel-body list-group">
                      <div class="seleccionado" *ngFor="let m of medicamentos | busquedaMed : buscarMedicamentos" (click)="guardarMedicamento(m)" style="cursor: pointer;">
                          {{m.producto}} {{m.via_administra}}
                      </div>
                  </div>
              </div>
              <br>
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th class="hidden">Id</th>
                          <th>Nombre del producto</th>
                          <th>Via administrativa</th>
                          <th>Receta Medica</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let cM of cajaMedicamento; let i = index">
                          <td class="hidden">{{cM.id_medicamentos}}</td>
                          <td>{{cM.producto}}</td>
                          <td>{{cM.via_administra}}</td>
                          <td><textarea name="txtRecetaMedica" formControlName="recetaMedica" rows="3" class="form-control"></textarea></td>
                          <td><button (click)="agregarReceta(i)" class="btn btn-success">x</button>
                            <button (click)="borrarMedicamento(i)" class="btn btn-danger">X</button></td>
                      </tr>
                  </tbody>
              </table>

              <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="status === 'success'">
                  {{statusText}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              </div>
              <div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="status === 'error'">
                  {{statusText}}
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              </div>

              <div class="row">


                  <div class="col-md-2"></div>
                  <div class="col-md-4"> <button class="btn btn-md btn-secondary" (click)="anterior('medicamentosPanel')">Anterior</button></div>



                  <div class="col-md-4"> <button class="btn btn-md btn-info" (click)="guardarHistoriaClinica()">Guardar historia
            clinica</button></div>
                  <div class="col-md-2"></div>

              </div>



          </div>



          <!-- Button modal publicacion exitosa -->
          <button type="button" style="display: none;" id="btn-publicacion-exitosa" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-backdrop="false">
      Launch demo modal
    </button>

          <!-- Modal publicacion exitosa -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Mensaje</h5>
                          <button type="button" id="btn-cerrar-pub-exitosa" class="close" data-dismiss="modal" aria-label="Close" (click)="pubExitosa()">
              <span aria-hidden="true">&times;</span>
            </button>
                      </div>
                      <div class="modal-body">
                          La publicación ha sido creada correctamente.
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="pubExitosa()">Aceptar</button>
                      </div>
                  </div>
              </div>
          </div>


          <!----------------------------------FIN MEDICAMENTOS------------------------------>



    </div>
</div>
