<app-barra-navegacion></app-barra-navegacion>

<!-- ------------------------------------------------- TITULO ------------------------------------------------ -->

<div class="container-fluid">
    <br />
    <div class="card-header">
        <h1>Precios e Inventario</h1>
    </div>
    <br />
</div>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------- CONTENIDO ---------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->


<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------- MODAL AGREGAR / EDITAR CATEGORIA ------------------------------ -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<div class="text-center" style="padding-bottom: 30px;">
    <button style="display: none;" type="button" id="btn-agregar-editar" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">
    Agregar nueva categoria
</button>

    <button type="button" class="btn btn-success" (click)="agregarCategoriaModal()">
    Agregar nueva categoria
</button>
</div>

<div *ngIf="categoriasInventario && categoriasInventario.length <= 0">
    <h5 class="text-center">Aún no tienes una categoria agregada</h5>
</div>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------- ALERTAS ------------------------------------------ -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<app-alertas #alertas></app-alertas>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------ FIN ALERTAS ---------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="!infoCategoria">Agregar nueva categoría</h5>
                <h5 class="modal-title" id="exampleModalLabel" *ngIf="infoCategoria">Editar categoría</h5>
                <button type="button" id="btn-cerrar-modal" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="form-label">Nombre categoría</label>
                        <input class="form-control" [formControl]="nombreCategoria" placeholder="Nombre categoría">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Descripcion</label>
                        <textarea class="form-control w-100" [formControl]="descripcionCategoria" placeholder="Descripcion categoría"></textarea>
                    </div>
                </form>

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- --------------------------------------- SUCURSALES AGREGAR CATEGORIA -------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->

                <div *ngIf="!infoCategoria && (infoUser.id_provedor && sucursales)">

                    <p class="form-label">* Las categorias solo seran visibles para las sucursales que escojas.</p>

                    <!-- <div class="form-check" style="padding-top: 5px;">
                        <input class="form-check-input" type="checkbox" id="blankCheckbox" (change)="selectSucursal('todas',$event)">
                        <label class="form-check-label" for="blankCheckbox">Seleccionar todas</label>
                    </div> -->

                    <div class="form-check" style="padding-top: 5px;" *ngFor="let s of sucursales; let i = index;">
                        <input class="form-check-input" type="checkbox" [value]="s.id_sucursales" id="blankCheckbox{{i}}" (change)="selectSucursal(s.id_sucursales, $event)">
                        <label class="form-check-label" for="blankCheckbox{{i}}">{{s.nombre}}</label>
                    </div>


                </div>

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- ---------------------------------------- SUCURSALES EDITAR CATEGORIA -------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div *ngIf="infoCategoria && sucursales">

                    <p class="form-label">* Solo en las sucursales activas aparecera visible la categoria.</p>
                    <br>

                    <div *ngFor="let s of sucursalesEdit; let i = index">

                        <div class="row">
                            <div class="col">
                                <p>{{s.nombre}}</p>
                            </div>
                            <div class="col">

                                <div class="custom-control custom-switch">
                                    <div>

                                    </div>
                                    <input type="checkbox" class="custom-control-input" id="customSwitch{{i}}" (change)="swithInput($event, s.id_sucursales)" [checked]="s.checked">
                                    <label class="custom-control-label" for="customSwitch{{i}}"></label>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- ------------------------------------------------ FOOTER AGREGAR ------------------------------------------ -->
            <div class="modal-footer" *ngIf="!infoCategoria">
                <button type="button" id="cerrar-modal-agregar" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="nombreCategoria.invalid || 
                                                                                               descripcionCategoria.invalid || 
                                                                                               loading || 
                                                                                               sucursalesSelect.length <= 0" (click)="agregarCategoria()">Guardar categoría</button>
            </div>
            <!-- ------------------------------------------------ FOOTER EDITARL ------------------------------------------ -->
            <div class="modal-footer" *ngIf="infoCategoria">
                <button type="button" id="cerrar-modal-agregar" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" data-dismiss="modal" [disabled]="nombreCategoria.invalid || descripcionCategoria.invalid || loading" (click)="editarCategoria()">Editar categoría</button>
            </div>
        </div>
    </div>
</div>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ------------------------------------------------ FIN MODAL ------------------------------------------ -->
<!-- ----------------------------------------------------------------------------------------------------- -->


<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------- <CONTAINER> -------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->

<div class="container-fluid" style="padding-top: 20px;">


    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- ------------------------------------------------ CATEGORIAS ----------------------------------------- -->
    <!-- ----------------------------------------------------------------------------------------------------- -->

    <div *ngFor="let ci of categoriasInventario,let i = index">
        <div class="row">
            <div class="col-3">
                <button type="button" class="btn btn-outline-secondary btn-lg w-100" style="margin-top: 10px;" data-toggle="collapse" [attr.data-target]="'#multiCollapse' + i" aria-expanded="false">{{ci.nombre}}</button>
            </div>
            <div class="col-9" style="padding-bottom: 30px;">
                <div class="collapse multi-collapse" [id]="'multiCollapse' + i">

                    <div class="card card-body">
                        <h5 class="card-title">{{ci.nombre}}</h5>
                        {{ci.descripcion}}
                        <div class="text-right">
                            <button class="btn btn-danger" style="margin-right: 5px; color: white;" (click)="confirmacionEliminar(ci)" *ngIf="ci.nombre !== 'Material Lentes'"><i class="fas fa-trash"></i></button>
                            <button class="btn btn-warning" style="margin-right: 5px; color: white;" (click)="abrirEditarCategoria(ci)" *ngIf="ci.nombre !== 'Material Lentes'"><i class="fas fa-pen"></i></button>
                            <button class="btn btn-primary" style="margin-right: 5px;" [routerLink]="['/inventario', ci.id_cateogoriai]"><i class="fas fa-eye"></i></button>
                            <button class="btn btn-success" style="margin-right: 5px;" (click)="agregarProducto(ci)"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="padding-top: 50px;">

    </div>


    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- ---------------------------------------- MODAL ELIMINAR CATEGORIA ----------------------------------- -->
    <!-- ----------------------------------------------------------------------------------------------------- -->


    <button type="button" id="btn-eliminar-categoria" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalEliminar" style="display: none;">
    Launch demo modal
  </button>

    <div class="modal fade" id="exampleModalEliminar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
                    <button id="btn-cerrar-modal-elicategoria" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                </div>
                <div class="modal-body" *ngIf="infoCategoria">
                    ¿ Esta seguro que desea eliminar {{infoCategoria.nombre}} ?. Ten en cuenta que no podras recuperar la información.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="eliminarCategoria()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- ----------------------------------------- MODAL AGREGAR PRODUCTO ------------------------------------ -->
    <!-- ----------------------------------------------------------------------------------------------------- -->


    <button style="display: none;" id="btn-abrir-modal-producto" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Agregar producto</h5>
                    <button type="button" id="btn-cerrar-modal-producto" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- --------------------------------------------- AGREGAR LENTES ---------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->
                <div class="modal-body" *ngIf="infoCategoria && infoCategoria.nombre === 'Material Lentes'">

                    <div>
                        <div class="row">
                            <div class="col form-group">
                                <label class="form-label">Material *</label>
                                <input class="form-control" placeholder="Nombre del material" [formControl]="nombreMaterial" [class.is-invalid]="nombreMaterial.touched && nombreMaterial.invalid">
                            </div>

                            <div class="col form-group">
                                <label class="form-label">Descripcion</label>
                                <input class="form-control" placeholder="Descripcion del material" [formControl]="descripcionMaterial">
                            </div>
                        </div>

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- -------------------------------------------- LENTE TERMINADO ---------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->

                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Lente terminado</h5>

                                <div *ngFor="let lt of lenterTerminados; let i = index">
                                    <div class="row">
                                        <div class="col form-group">
                                            <label class="form-label">Tipo</label>
                                            <input class="form-control" placeholder="Tipo material" id="tipo{{i}}">
                                        </div>
                                        <div class="col form-group">
                                            <label class="form-label">Esfera</label>
                                            <input class="form-control" placeholder="Esfera" id="esfera{{i}}">
                                        </div>
                                        <div class="col form-group">
                                            <label class="form-label">Cilindro</label>
                                            <input class="form-control" placeholder="Cilindro" id="cilindro{{i}}">
                                        </div>
                                        <div class="col form-group">
                                            <label class="form-label">Adicción</label>
                                            <input class="form-control" placeholder="Adicción" id="adiccion{{i}}" type="number" min="0">
                                        </div>
                                        <div class="col form-group">
                                            <label class="form-label">Valor unitario</label>
                                            <input class="form-control" placeholder="$" id="valorUnitario{{i}}" type="number" min="0">
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <p class="alerta-error" *ngIf="pLenteTerminado">* Debes llenar al menos un dato</p>
                                </div>

                                <div class="text-right">
                                    <button class="btn btn-danger" style="margin-right: 5px;" type="button" (click)="eliminarLenteTerminado()" *ngIf="lenterTerminados.length >= 2"><i class="fa fa-trash"></i></button>
                                    <button class="btn btn-success" type="button" (click)="lenterTerminados.push({lente : 'lente terminado'})"><i class="fas fa-plus"></i>&nbsp; Agregar formula</button>
                                </div>
                            </div>
                        </div>

                        <!-- ----------------------------------------------------------------------------------------------------- -->
                        <!-- --------------------------------------------- LENTE TALLADO ----------------------------------------- -->
                        <!-- ----------------------------------------------------------------------------------------------------- -->

                        <div class="card" style="margin-top: 50px;">
                            <div class="card-body">
                                <h5 class="card-title">Lente tallado</h5>

                                <div style="padding-bottom: 30px;" *ngIf="lentesTallados.length >= 1">
                                    <!-- <h5 class="card-title">Lentes agregados</h5> -->
                                    <label class="form-label">Lentes agregados</label>
                                    <div class="row">
                                        <div class="col-3" *ngFor="let la of lentesTallados; let i = index;" style="padding-top: 10px;">
                                            <h4>{{la.nombre}}</h4>
                                            <button class="btn btn-danger btn-sm" (click)="eliminarLenteTallado(i)" style="margin-right: 5px;"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col form-group">
                                        <label class="form-label">Nombre lente</label>
                                        <input class="form-control" placeholder="Progresivos, Bifocales ..." id="nombreLenteLta" (change)="inputsLenteTallado($event)">
                                    </div>
                                    <div class="col form-group">
                                        <label class="form-label">Tipo</label>
                                        <input class="form-control" placeholder="Focus silver, focus gold ..." id="tipoLta" (change)="inputsLenteTallado($event)">
                                    </div>
                                    <div class="col form-group">
                                        <label class="form-label">Valor unitario</label>
                                        <input class="form-control" placeholder="$" type="number" min="0" id="valorUnitarioLta" (change)="inputsLenteTallado($event)">
                                    </div>
                                </div>

                                <div *ngFor="let lta of agregarTipo; let i = index;">
                                    <div class="row">
                                        <div class="col"></div>
                                        <div class="col form-group">
                                            <label class="form-label">Tipo</label>
                                            <input class="form-control" placeholder="Focus silver, focus gold ..." id="tipoLta{{i}}" (change)="inputsLenteTallado($event)">
                                        </div>
                                        <div class="col form-group">
                                            <label class="form-label">Valor unitario</label>
                                            <input class="form-control" placeholder="$" type="number" min="0" id="valorUnitarioLta{{i}}" (change)="inputsLenteTallado($event)">
                                        </div>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button class="btn btn-danger" (click)="eliminarTipo()" style="margin-right: 5px;" *ngIf="agregarTipo.length >= 1"><i class="fa fa-trash"></i></button>
                                    <button class="btn btn-success" (click)="validacionesLenteTallado('agregarTipo')"><i class="fas fa-plus"></i>&nbsp;Agregar tipo</button>
                                </div>

                                <div class="text-center">
                                    <button class="btn btn-success" (click)="validacionesLenteTallado('agregarLente')"><i class="fas fa-plus"></i>&nbsp;Agregar Lente</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ----------------------------------------------------------------------------------------------------- -->
                <!-- -------------------------------------------- AGREGAR PRODUCTO --------------------------------------- -->
                <!-- ----------------------------------------------------------------------------------------------------- -->

                <div class="modal-body" *ngIf="infoCategoria && infoCategoria.nombre != 'Material Lentes'">

                    <form [formGroup]="datosProducto">
                        <div class="row">
                            <div class="col form-group">
                                <label class="form-label">Nombre producto *</label>
                                <input type="text" class="form-control" placeholder="Nombre o marca" formControlName="nombre">
                            </div>
                            <div class="col form-group">
                                <label class="form-label">Referencia del producto *</label>
                                <input type="text" class="form-control" placeholder="Referencia" formControlName="referencia">
                            </div>
                            <div class="col form-group">
                                <label class="form-label">Cantidad de unidades *</label>
                                <input type="number" class="form-control" placeholder="Ejm: 1, 10, 20" formControlName="cantidad" min="0">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col form-group">
                                <label class="form-label">Categoria *</label>
                                <select class="form-control" formControlName="categoria">
                                    <option *ngFor="let ci of categoriasInventario" [value]="ci.id_cateogoriai" [disabled]="ci.nombre === 'Material Lentes'">{{ci.nombre}}</option>
                                </select>
                            </div>
                            <div class="col form-group">
                                <label class="form-label">Producto grabable *</label>
                                <select class="form-control" formControlName="productoGrabable">
                                    <option value="si">Si</option>
                                    <option value="no">No</option>
                                </select>
                            </div>
                            <div class="col form-group">
                                <label class="form-label">Iva</label>
                                <input type="number" class="form-control" placeholder="%" formControlName="iva" min="0">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col form-group">
                                <label class="form-label">Precio de compra</label>
                                <input type="number" class="form-control" placeholder="Precio de compra" formControlName="precioCompra" min="0">
                            </div>
                            <div class="col form-group">
                                <label class="form-label">Precio de venta</label>
                                <input type="number" class="form-control" placeholder="Precio de venta" formControlName="precioVenta" min="0">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col form-group">
                                <label class="form-label">Precio venta al público (pvp - iva incluido)</label>
                                <input type="number" class="form-control" placeholder="Precio total" readonly [value]="datosProducto.value.precioVenta + ( datosProducto.value.precioVenta * (datosProducto.value.iva / 100) ) ">
                            </div>
                            <div class="col form-group">
                                <label class="form-label">Margen de utilidad</label>
                                <input type="text" class="form-control" placeholder="Margen de utilidad" *ngIf="datosProducto.get('precioVenta').valid && datosProducto.get('precioCompra').valid" readonly [value]="(datosProducto.value.precioVenta - datosProducto.value.precioCompra ) / ( datosProducto.value.precioCompra / 100) + '%'">
                            </div>
                        </div>
                    </form>

                </div>

                <div class="modal-footer ">
                    <button type="button " class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button " class="btn btn-success" data-dismiss="modal" (click)="guardarProducto()" [disabled]="((infoCategoria && infoCategoria.nombre === 'Material Lentes') && nombreMaterial.invalid )">Guardar Producto</button>
                </div>
            </div>
        </div>
    </div>


    <!-- ----------------------------------------------------------------------------------------------------- -->
    <!-- --------------------------------------- FIN MODAL AGREGAR PRODUCTO ---------------------------------- -->
    <!-- ----------------------------------------------------------------------------------------------------- -->

</div>

<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- ---------------------------------------------- <FIN CONTAINER> -------------------------------------- -->
<!-- ----------------------------------------------------------------------------------------------------- -->


<!-- ----------------------------------------------------------------------------------------------------- -->
<!-- -------------------------------------------------- LOADING ------------------------------------------ -->
<!-- ----------------------------------------------------------------------------------------------------- -->
<app-loading *ngIf="loading "></app-loading>